.friendsList {
  position: fixed;
  right: -40px;
  top: 20vh;

  width: 20vw;
  height: 75vh;

  border-top: 3px solid rgb(54, 49, 46);
}

.title {
  position: absolute;
  top: -28px;

  color: rgb(116, 107, 99);
  font-size: 1.2rem;
}
