.nav {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 13vh;

  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

ul {
  display: flex;
  list-style: none;

  gap: 20px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: wheat;

  background-color: rgb(31, 29, 29);
}

.menuButton {
  font-size: 1.7rem;
  color: wheat;
  cursor: pointer;
  background-color: rgb(56, 54, 49);

  padding: 7px;

  border-radius: 20px;

  border: 7px double wheat;

  height: min-content;

  transition: all 0.3s;
}

.menuButton:hover {
  background-color: rgb(90, 73, 31);
}

.heading {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(146, 133, 107);
  background-color: rgb(56, 54, 49);
}

.username {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(230, 230, 230);
}

.userModal {
  position: relative;
}

.logOutIcon {
  position: absolute;
  bottom: -45px;
  width: 40px;
  height: 40px;
  right: -3px;

  font-size: 1.5rem;
  cursor: pointer;

  background-color: rgb(119, 112, 112);

  transition: all 0.3s;

  transform: rotate3d(0, 1, 0, 180deg);
}

.logOutIcon:hover {
  filter: grayscale(0%);
  background-color: rgb(247, 203, 115);
}

.menuIcon {
  position: absolute;
  bottom: -45px;
  width: 40px;
  height: 40px;
  right: 43px;

  font-size: 1.5rem;
  cursor: pointer;

  background-color: rgb(119, 112, 112);

  transition: all 0.3s;
}

.menuIcon:hover {
  background-color: rgb(247, 203, 115);
}

.notificationsIcon {
  position: absolute;
  bottom: -45px;
  width: 40px;
  height: 40px;
  right: 86px;

  font-size: 1.5rem;
  cursor: pointer;

  background-color: rgb(119, 112, 112);

  transition: all 0.3s;
}

.notificationsIcon:hover {
  background-color: rgb(247, 203, 115);
}

.notificationNumber {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -74px;
  width: 40px;
  height: 40px;
  right: 86px;

  color: rgb(226, 107, 107);
  font-size: 1.6rem;
  font-weight: bold;
}
