<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plinko Game</title>
    <link rel="stylesheet" href="../plinkoGame/style.css" />
  </head>
  <body>
    <h1 id="rotate_message">Please rotate your device to landscape mode</h1>
    <div id="start_screen">
      <h2>touch the screen to start</h2>
    </div>
    <script type="module" src="../build/plinkoGameBundle.js"></script>
  </body>
</html>
