.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 100vw;
  background-color: rgb(255, 255, 255);
}

.introText {
  position: absolute;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  top: 42vh;

  width: 100vw;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation-delay: 4.5s;
  animation-name: introAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  overflow-x: hidden !important;
}
@media only screen and (max-width: 900px) {
  .introText {
    animation-delay: 2.5s;
  }
}

@keyframes introAnim {
  0% {
    top: 42vh;
  }
  30% {
    top: 42vh;
    background-color: rgb(48, 48, 48);
  }
  100% {
    top: 0vh;
    background-color: rgb(48, 48, 48);
  }
}

.animeText1 {
  white-space: nowrap;
  overflow: hidden;

  width: 0;

  color: rgb(43, 145, 23);
  text-align: center;

  font-size: 3.2rem !important;

  animation-delay: 0.4s !important;

  animation: typing 5s steps(160) forwards,
    blink 0.1s step-end infinite alternate;
}
@media only screen and (max-width: 900px) {
  .animeText1 {
    font-size: 1.2rem !important;

    animation: typing 1.2s steps(70) forwards,
      blink 0.1s step-end infinite alternate;
  }
}

.animeText2 {
  white-space: nowrap;
  overflow: hidden;

  width: 0;

  color: rgb(209, 206, 43);
  text-align: center;

  font-size: 2.7rem !important;

  animation-delay: 1.4s !important;

  animation: typing 5s steps(160) forwards,
    blink 0.1s step-end infinite alternate;
}
@media only screen and (max-width: 900px) {
  .animeText2 {
    font-size: 1.2rem !important;

    animation: typing 1s steps(80) forwards,
      blink 0.1s step-end infinite alternate;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90ch; /* 12 characters wide, adjust based on text length */
  }
}
@media only screen and (max-width: 900px) {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20ch; /* 12 characters wide, adjust based on text length */
    }
  }
}

@keyframes blink {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: black;
  }
}

.menuContent {
  animation-delay: 5s;
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .menuButtonContainer {
    font-size: 1.6rem;

    flex-direction: column;
  }
}

.menuButton {
  position: relative;

  font-size: 3rem;
  font-weight: 600;
  color: rgb(56, 202, 11);
  padding: 10px 20px;
  cursor: pointer;

  background: none;

  border: none;
  transition: all 0.3s;
}
@media only screen and (max-width: 900px) {
  .menuButton {
    font-size: 1.6rem;
  }
}
.menuButton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  bottom: 30%;
  background-color: rgb(251, 255, 8);
  opacity: 0.6;

  z-index: -1;

  transition: all 0.3s;
}
.menuButton:hover::after {
  height: 100%;
  bottom: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;

  width: 90vw;

  max-width: 1400px;

  position: relative;

  opacity: 0;

  animation-name: show;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;

  animation-delay: 5.6s;
}
@media only screen and (max-width: 900px) {
  .hero {
    animation-delay: 1.6s;
  }
}

.computerAnimation {
  position: relative;

  width: min-content;
  height: min-content;

  display: flex;
  justify-content: center;
}

.tsotneImage {
  width: 100%;
  height: auto;

  filter: grayscale(100%);

  box-shadow: 3px 3px 0px 6px rgba(48, 47, 47, 0.75);
}

.heroText {
  width: 70%;

  text-align: center;
  font-size: 1.6rem;
  color: rgb(29, 158, 57);
}
@media only screen and (max-width: 900px) {
  .heroText {
    width: 95%;
    font-size: 1.2rem;
  }
}
