.experience {
  position: relative;
  margin-top: 100px;

  width: 100vw;
  max-width: 1200px;

  padding: 20px 40px;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  overflow: hidden !important;
}
@media only screen and (max-width: 900px) {
  .experience {
    padding: 10px 20px;
  }
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: rgb(80, 253, 103);
  margin: 20px 0;
}
@media only screen and (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
}

.dottes {
  position: absolute;
  width: 30px;
  height: 1900px;

  margin-top: 190px;

  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .dottes {
    display: none;
  }
}

.dot {
  width: 5px;
  height: 5px;
  background-color: rgb(24, 27, 24);

  border-radius: 50%;

  margin-top: 5px;
}

.work {
  display: flex;
  justify-content: space-between;

  width: 100%;

  overflow: hidden !important;
}

.workLeftContent {
  width: 45%;
  display: flex;
  flex-direction: column;

  align-items: start;
}
@media only screen and (max-width: 900px) {
  .workLeftContent {
    width: 100%;
  }
}
.rightWorkDescription {
  text-align: right;
}
.workRightContent {
  width: 45%;
  display: flex;
  flex-direction: column;

  align-items: end;
}
.workFakeRightContent {
  width: 45%;
  display: flex;
  flex-direction: column;

  align-items: end;
}
@media only screen and (max-width: 900px) {
  .workRightContent {
    width: 100%;
  }
  .workFakeRightContent {
    display: none;
  }
}

.workTitle {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 176, 73);
}

.workData {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(129, 115, 105);
}

.workDescription {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(129, 115, 105);

  margin-top: 7px;
}

.workPosition {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(255, 167, 35);
  margin-top: 7px;
}

.workTechnologies {
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(44, 177, 11);
}
.rightWorkTechnologies {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: right;
  color: rgb(44, 177, 11);
}

.workImage {
  width: 100px;
  height: 100px;

  border-radius: 100%;
}
