.row {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.nameEndIndicator {
  display: flex;
  gap: 8px;
  align-items: center;
}

.name {
  font-size: 1.2rem;
  color: rgb(207, 197, 187);
  cursor: pointer;
  position: relative; /* Ensure the pseudo-element is positioned relative to .name */
}

.name::after {
  content: ""; /* Required for the pseudo-element */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px; /* Adjust the distance below the text */
  height: 2px; /* Thickness of the underline */
  background-color: rgb(116, 107, 99); /* Color of the underline */
  transform: scaleX(0); /* Initially hide the underline */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.name:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
}

.activeIndicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: rgb(48, 197, 48);
}

.chatButton {
  font-size: 1.4rem;
  color: rgb(26, 23, 23);
  cursor: pointer;
  background-color: rgb(133, 218, 99);

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;

  border: none;

  height: min-content;

  transition: all 0.3s;
}
.chatButton:hover {
  background-color: rgb(90, 73, 31);
  color: wheat;
}

.deactiveIndicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: rgb(197, 48, 48);
}
