.friendsSuggestions {
  position: fixed;
  right: 0px;
  top: 70vh;

  width: 18vw;

  border-top: 3px solid rgb(54, 49, 46);
}
@media only screen and (max-width: 1280px) {
  .friendsSuggestions {
    width: 100vw;
    padding: 0px 20px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  position: absolute;
  top: -28px;

  color: rgb(116, 107, 99);
  font-size: 1.2rem;
}

.suggestions {
  position: relative;
  margin-top: 10px;
  height: 24vh;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-right: 10px;

  color: rgb(226, 226, 226);
  overflow-y: scroll;
}
