.menuModal {
  position: fixed;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: fit-content;
  height: min-content;

  padding: 30px 20px 30px 20px;

  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  background-color: rgb(238, 238, 238);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  z-index: 40;
  transform: scale(0);
  opacity: 0;

  border-radius: 10px;

  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@media only screen and (max-width: 1280px) {
  .meuModal {
    padding: 20px 10px 20px 10px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(138, 121, 106);

  text-decoration: underline;
}
@media only screen and (max-width: 1280px) {
  .title {
    font-size: 1.6rem;
  }
}

.icon {
  width: 50px;
  height: 50px;
}

.noneNotificationText {
  font-size: 1.5rem;
  color: rgb(61, 56, 52);

  text-align: center;
  margin-top: 20px;

  width: 100%;
}
@media only screen and (max-width: 1280px) {
  .noneNotificationText {
    font-size: 1.2rem;
    color: rgb(61, 56, 52);

    text-align: center;
    margin-top: 20px;

    width: 100%;
  }
}
