.skills {
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  margin-top: 150px;

  position: relative;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: rgb(80, 253, 103);
  margin: 20px 0;
}
@media only screen and (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
}

.container {
  width: 100vw;
  height: 800px;

  position: relative; /* Important to position .skill elements relative to this container */
  overflow: hidden; /* Ensure elements don't go outside the container */
}

.skill {
  position: absolute; /* This allows the skill to be placed anywhere in the container */
  background-color: rgb(15, 15, 17);
  color: rgb(80, 253, 103);
  font-weight: bold;

  width: fit-content;
  height: min-content;
  font-size: 2.3rem;
  padding: 15px;
  cursor: grab; /* Change cursor to indicate draggable items */

  border-radius: 10px;
}
@media only screen and (max-width: 900px) {
  .skill {
    font-size: 1.3rem;
  }
}

.downloadButton {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  width: 240px;
  height: 50px;
  background-color: rgb(80, 253, 103);
  color: rgb(30, 36, 31);
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;

  border: 1px solid rgb(31, 49, 33);

  transition: all 0.3s;
}
.downloadButton:hover {
  background-color: rgb(29, 158, 57);
}
@media only screen and (max-width: 900px) {
  .downloadButton {
    font-size: 1rem;
  }
}
