.friendsList {
  position: fixed;
  right: 0px;
  top: 20vh;

  width: 18vw;

  border-top: 3px solid rgb(54, 49, 46);
}

.title {
  position: absolute;
  top: -28px;

  color: rgb(192, 177, 164);
  font-size: 1.2rem;
}

.friends {
  position: relative;
  margin-top: 10px;
  padding-right: 10px;
  height: 42vh;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: scroll;
}
